* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
.contenedorPrincipal {
    background-color: #444;
    padding: 0 20px;
}
header {
    background-color: aliceblue;
}
header nav ul {
    display: flex;
}
header nav>ul>li a {
    padding: 20px;
    color: black;
    font-weight: bold;
    display: inline-block;
}
img {
    width: 100%;
}
main {
    background-color: white;
    width: 70%;
}
main section {
    padding: 30px 20px;
}
main section h1, section p {
    margin-bottom: 15px;
    line-height: 1.5;
}
.dos {
    display: flex;
    flex-wrap: wrap;
}
aside {
    background-color: cadetblue;
    padding: 50px;
    height: 150px;
    width: calc(30% - 100px);
}
aside h4 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
aside ul li {
    margin-bottom: 15px;
    border-bottom: 2px solid black;
    font-weight: bold;
}
footer {
    background-color: palevioletred;
    color: white;
    padding: 50px 0;
    width: 70%;
    text-align: center;
    font-weight: bold;

}