* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
img, video{
    width: 100%;
}
#site-header, #index-main {
    margin: 20px 80px;
}
#site-header img {
    width: 80px;
}
#site-header {
    display: flex;
    position: relative;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
}
#site-header nav>ul {
    display: flex;
}
/* Flecha */
#site-header nav>ul>li {
    position: relative;
    margin: 0 20px;
    
}
#site-header nav>ul>li>i {
    position: absolute;
    color: orange;
    bottom: 150%;
    opacity: 0;
    left: 45%;
}
#site-header nav>ul>li>a:hover + i{
    bottom: 100%;
    opacity: 1;
    transition: opacity 1s, bottom 1s;
}
#site-header nav>ul>li i {
    color: orange;
}
#site-header nav>ul a {
    color: #333;
    padding: 10px;
    letter-spacing: 2px;
}
/* Position absolute desplegar */
#site-header nav>ul>li>ul {
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    padding: 10px;
    display: none;
}
#site-header nav>ul>li:hover ul{
    display: block;
    
}

#index-main h1{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}
#index-main h1>span {
    background-color: orange;
    cursor: pointer;
}
#index-main h1>span:hover {
    background-color: white;
    transition: background-color 2s;
}
#index-main div, #proyectos-main div {
    color: black;
    font-weight: bold;
}
#index-main section {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
#index-main section article:nth-child(2), #index-main section article:nth-child(3){
    width: 50%;
}
#index-main section article div, #proyectos-main section article div{
    margin-bottom: 60px;
}

#index-main article i, #proyectos-main article i {
    margin-left: 10px;
    color: chocolate;
    translate:0px;
    opacity: 1;
}
#index-main article p:hover, #proyectos-main article p:hover{
    color: chocolate;
    transition: color 0.8s;
}
#index-main article p:hover i, #proyectos-main article p:hover i{
    transition:translate 1s, opacity 1s;
    translate: 40px;
    opacity: 0;
}
#index-main section div h2, section div h3, #proyectos-main section div h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

#index-main div>a{
    display: inline-block;
    padding: 15px;
    color: black;
    border: 1px solid black;
    margin: auto;
}
#index-main div>a:hover{
    background-color: black;
    color: chocolate;
    transition: background-color 1s;
    
}
#index-main section:last-child h2 {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}
#index-main section:last-child h2>span {
    background-color: orange;
    cursor: pointer;
}
#index-main section:last-child h2>span:hover {
    background-color: white;
    transition: background-color 2s;
}

#site-aside {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 100px;
    display: none;
}
#site-aside h2 {
    margin-bottom: 30px;
}
#site-aside p {
    margin-bottom: 20px;
}
#site-aside button {
    padding: 10px;
    background-color: orange;
    border-color: orange;
    cursor: pointer;
}
#site-footer {
    background-color: black;
    color: aliceblue;
    padding: 50px;
    text-align: center;
    
}
#site-footer a {
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    margin: 10px;
    border-bottom: 2px solid white;

}
#site-footer a:hover {
    border-bottom: 2px solid chocolate;
    cursor: pointer;
    color: chocolate;
}
#site-footer i {
    margin-bottom: 5px;
}

/* NOSOTROS */
#site-header .active {
    border-bottom: 2px solid orange;

}
#nosotros-main section:first-child, #proyectos-main section:first-child {
    background-color: #333; 
    padding: 80px 10%;
}
#nosotros-main section:first-child>h1, #proyectos-main section:first-child h1 {
    color: orange;
    font-size: 3rem;
    margin: 15px;
    padding: 35px;
    
}
#nosotros-main section:first-child div, #proyectos-main section:first-child div {
    color: #fff;
    display: flex;
    padding: 55px;
    justify-content: space-between;
}
#nosotros-main section:first-child div p, #proyectos-main section:first-child div p {
    width: 45%;
    
}
#nosotros-main section:first-child div p:first-child, #proyectos-main section:first-child div p {
    border-bottom: 2px solid chocolate;
    font-weight: bold;
    font-size: 16px;
    
}
#nosotros-main section:first-child div p:last-child {
    font-size: 15px;
}

/* segunda sección */
#nosotros-main section:nth-child(2), section:last-child {
    margin: 100px 80px;
}
#nosotros-main section:nth-child(2) div {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    margin-bottom: 50px;
}
#nosotros-main section:nth-child(2) h2, section:last-child h2 {
    font-size: 2.0rem;
}

#nosotros-main section:nth-child(2) div>p {
   font-size: 15px;
   width: 45%;
}

/* ultima sección */
#nosotros-main section:last-child .ter {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10%;

}
#nosotros-main section:last-child .ter div {
    width: 15%;
}
#nosotros-main section:last-child i{
    color: orange;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#nosotros-main section:last-child .ter>div>h3 {
    margin-bottom: 20px;
}

/* Proyectos */
#proyectos-main section:nth-child(2) {
    flex-wrap: wrap;
    display: flex;
}
#proyectos-main section article {
    width: 50%;
}
#proyectos-main div>h2  {
    font-size: 18px;
}

